* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.menu-bar {
    background-color: #6b3e26e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu-bar nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-bar nav ul li {
    margin-right: 10px;
}

.menu-bar nav ul li a {
    background-color: white;
    color: #6b3e26;
    padding: 0.5em 1em;
    border: 1px solid #6b3e26;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.menu-bar nav ul li a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-bar .logo img {
    width: 40px;
    height: auto;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .menu-bar nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #6b3e26;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .menu-bar nav ul li {
        margin: 0;
    }

    .menu-bar nav ul li a {
        padding: 1em;
        display: block;
    }

    .menu-bar nav ul.menu-list.open {
        display: flex;
    }
}

.hero {
    background-image: url('https://www.bhmpics.com/downloads/wallpaper-coffee-beans/8.2389934.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 170px 0;
    color: white;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
}

.hero:hover {
    transform: scale(1.02);
}

.hero-text {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    margin-bottom: 2%;
}

.hero-text p {
    margin-bottom: 2%;
}

.hero-button {
    background-color: white;
    color: #6b3e26;
    border: 2px solid #6b3e26;
    border-radius: 10px;
    padding: 0.75em 1.5em;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.hero-button:hover {
    background-color: #6b3e26;
    color: white;
}

.section {
    text-align: left;
    background-color: #f9f9f9;
    padding: 3%;
    margin: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
    text-align: justify;
    color: #191919;
    margin-bottom: 5px;
}

.section p {
    color: #333;
    line-height: 1.6;
}

.section ul {
    list-style-type: disc;
    margin-left: 2em;
}

.section ul li {
    margin-bottom: 100px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: relative;
    z-index: 1;
}

.main-content {
    flex: 1;
    padding: 2em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    width: 80%;
    margin-top: 80px;
}

.product-card {
    width: calc(35% - 20px);
    margin: 20px 10px 20px 10px;
    margin-left: 10%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    transition: all 0.3s;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.product-card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.product-image-medium {
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s;
}

.product-image-medium:hover {
    transform: scale(1.05);
}

.product-image-wrapper {
    position: relative;
}

.product-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 0.5em;
}

.add-to-cart,
.wishlist {
    background-color: white;
    border-radius: 5px;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.add-to-cart {
    position: relative;
    bottom: 0;
    background-color: #6b3e26;
    color: white;
    border: 2px solid #6b3e26;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.add-to-cart:hover {
    background-color: #542b1f;
}

.add-to-cart:hover,
.wishlist:hover {
    background-color: #f0f0f0;
}

.far.fa-heart {
    font-size: medium;
    color: #6c6c6c;
    transition: color 0.3s ease;
}

.far.fa-heart.active {
    font-size: medium;
    color: #e74c3c;
    transition: color 0.3s ease;
}

.product-info {
    text-align: center;
    padding: 1em 0;
}

.product-price {
    font-weight: bold;
    color: #6b3e26;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.cart-item span {
    margin-right: 1em;
}

.cart-item input {
    width: 50px;
    margin-right: 1em;
}

.remove-item {
    background-color: #a80000;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.remove-item:hover {
    background-color: #a10000;
}

.about-container {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 3%;
    margin: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 1;
    padding-right: 20px;
}

.about-container h2 {
    text-align: left;
    color: #191919;
    margin-bottom: 10px;
}

.about-container p {
    text-align: justify;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-image {
    flex: 0 0 200px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 20px;
}

footer {
    width: 100%;
    background-color: #6b3e26;
    padding: 2em;
    text-align: center;
    color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-icons {
    display: flex;
    gap: 0.5em;
}

.contact-icons a {
    color: white;
    transition: color 0.3s;
}

.contact-icons a:hover {
    color: #f5f5dc;
}

.alert-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.alert-box.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.review {
    text-align: center;
    font-size: large;
    background-color: #f5f5dc;
    color: #6b3e26;
    border: 2px solid #6b3e26;
    border-radius: 8px;
    margin-top: 3%;
    padding: 1em 2em;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.review:hover {
    background-color: #f0f0f0;
    color: #6b3e26;
}

.review-section {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    background-color: #f5f5dc;
    border: 2px solid #6b3e26;
    border-radius: 10px;
    padding: 3% 1.5%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.review-section div {
    width: 20%;
    text-align: justify;
    line-height: 1.8;
}

.review-section img {
    border-radius: 50%;
    width: 50%;
}

.review-section p {
    padding: 3%;
    font-size: medium;
    line-height: 1.6;
}

.go-to-favorites {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #6b3e26;
    position: absolute;
    top: 20px;
    right: 20px;
}

.go-to-favorites:hover {
    color: #e74c3c;
}